name: Build

on:
  # Triggers the workflow on push or pull request events
  push:
    branches: [ master, fix/pr-661-typescript ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - run: echo VITE_APP_VERSION=git-${GITHUB_SHA::6} > .env
      - run: cat .env
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
      - run: yarn set version stable
      - run: YARN_ENABLE_IMMUTABLE_INSTALLS=false yarn install
      - run: yarn build
      - run: find dist/live-atlas/assets -type f -iname \*.svg -delete
      - run: cp LICENSE.md dist
      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: 'live-atlas'
          path: 'dist/'
          if-no-files-found: error
